:root {
  // Main colors
  --headers-nameEvent-hoverPages-hoverLocation-color: #dc56c5;
  --search-footer-color: #939393;
  --place-dates-pages-color: #ffffff;
  
  --lines-decor-bcg: #212121;
  --deatails-round-bcg-color: #C4C4C4; 
  --img-accent-color: rgba(220, 86, 197, 0.3);

  /**************cardsColor*****************/
  --text-bcgColor-color: #0e0e0e;
  --bcg-btn-text-border-btnClose-color: #4c00fe;
  
  --bcg-color: #fff2fd;
  --return-btn-color: #ff2483;
  --return-btn-text-color: #0e0e0ec1;
  
}
