<header class="header" id="raketa">
  <div class="container">
    <div class="header__logo">
      <svg class="header__logo-icon animate__animated animate__slideInRight">
        <use href="./images/sprite.svg#icon-logo"></use>
      </svg>
      <div class="background-logo"></div>
    </div>
    <div class="header__title animate__animated animate__flipInX">
      FIND <span class="flicker"> BEST EVENTS </span>AROUND THE WORLD
    </div>
    </div>

    <div class="form">
      <span class="form__input">
        <input
          autocomplete="off"
          class="form-element"
          name="search-field"
          id="search"
          type="text"
          placeholder="Start searching"
        />
        <p class="info"></p>
      
        <!-- <svg class="search-icon">
          <use href="./images/sprite.svg#iconSearch"></use>
        </svg> -->
      </span>
      
      <span class="form__select">
        <select class="form-select form-element">
          <option class="form-choose-country" value="">Choose country</option>
        </select>
        <label class="events__select-label" for="country-select">
          <!-- <svg class="events__arrow-icon" width="15" height="10"> -->
            <use href="./images/sprite.svg#icon-polygon"></use>
          </svg>
        </label>
      </span>
      </form>
      </div>


    </div>
  </div>
</header>
