<section class="main">
  <div class="container">
    <div class="bad-request" style="display: none">
      <a href="./index.html" class="return-btn">RETURN TO <b>HOME PAGE</b></a>
    </div>
    <div class="good-request" style="display: inline-block">
      <h2 class="visually-hidden">Cards list</h2>
      <div class="alert-modal-window"></div>
      <ul class="main__grid-small-cards"></ul>
      <div class="pagination"></div>
    </div>

    <div class="bacground-images"></div>
  </div>
</section>
<div id="modalNode"></div>
