.main {
  padding-bottom: 60px;
  background-color: #0e0e0e;
  @media screen and (min-width: 768px) {
    padding-bottom: 0;
    background-image: url(./../images/png/tab/noise-body-tab.png),
      url(./../images/png/tab/vertical-line-left-tab.png),
      url(./../images/png/tab/Ellipse-3-tab.png), url(./../images/png/tab/Ellipse-9-tab.png),
      url(./../images/png/tab/Ellipse-6-tab.png), url(./../images/png/tab/Ellipse-7-tab.png),
      url(./../images/png/tab/Ellipse-8-tab.png), url(./../images/png/tab/Ellipse12-tab.png),
      url(./../images/png/tab/Ellipse-18-tab.png),
      url(./../images/png/tab/vertical-line-small-tab.png),
      url(./../images/png/tab/vertical-line-right-tab.png),
      url(./../images/png/tab/vertical-line-small-tab.png);
    background-position: center, top -182px left 85px, top 288px left 15px, top 312px left 38px,
      top 1400px left 30px, top 510px right 30px, top 1346px right 25px, top 1370px right 48px,
      top 2420px right 30px, bottom -80px left 85px, top -180px right 85px,
      bottom -80px right -510px;
    background-repeat: no-repeat;
  }
  @media screen and (min-width: 1280px) {
    background-image: url(./../images/noise_body.png), url(./../images/png/Ellipse5.png),
      url(./../images/png/Ellipse2.png), url(./../images/png/Ellipse6.png),
      url(./../images/png/Ellipse4.png), url(./../images/png/Ellipse7.png),
      url(./../images/png/Ellipse8.png), url(./../images/png/Ellipse9.png),
      url(./../images/png/vertical-line-left.png), url(./../images/png/vertical-line-rigth.png),
      url(./../images/png/vertical-line-small.png), url(./../images/png/vertical-line-small.png);
    background-position: center, top 370px left 10px, top 410px left 50px, top 900px left 40px,
      top 100px right 40px, top 780px right 10px, top 820px right 50px, top 1400px right 40px,
      top -320px left 20px, top -430px right 220px, bottom -60px left 20px,
      bottom -60px right -830px;
    background-repeat: no-repeat;
    position: relative;
  }
  scroll-behavior: smooth;
}

.smallCard {
  width: 135px;
  min-height: 240px;
  z-index: 10;
  position: relative;
  border-radius: 50px 0px;
  @media screen and(min-width: 480px) {
    width: 180px;
    min-height: 310px;
  }
  @media screen and (min-width: 768px) {
    width: 190px;
    min-height: 310px;
  }
}
.smallCard:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 20px #f80bfd, inset 0px 0px 2px #f80bfd;
}
.smallCard::after {
  content: '';
  display: block;
  width: 110px;
  height: 100px;
  border-radius: 50px 0px;
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid rgba(220, 86, 197, 0.3);
  pointer-events: none;

  @media screen and (min-width: 768px) {
    width: 155px;
    height: 145px;
  }
}
.smallCard-small {
  width: 125px;
  height: 160px;
  border-radius: 50px 0px;
  margin-top: 10px;
  margin-right: 10px;
  object-fit: cover;
  @media screen and(min-width: 480px) {
    width: 165px;
    height: 200px;
  }
  @media screen and (min-width: 768px) {
    width: 175px;
    height: 230px;
    margin-top: 15px;
    margin-right: 15px;
  }
}
.smallCard_heroes {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  margin-top: 5px;
  color: #dc56c5;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.25;
  }
}
.smallCard_date {
  font-family: Montserrat;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  margin-top: 5px;
  color: #ffffff;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.25;
  }
}
.smallCard_place {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  margin-top: 5px;
  a {
    color: #fff;
  }
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.2;
  }
}
.smallCard_place::before {
  width: 6px;
  height: 9px;
  display: inline-block;
  content: '';
  background-image: url(./../images/Map-point.svg);
  background-repeat: no-repeat;
  background-size: contain;
  @media screen and (min-width: 768px) {
    width: 7px;
    height: 10px;
  }
}
.main__grid-small-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 5px;
  position: relative;
  top: -50px;
  @media screen and(min-width: 480px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 45px 30px;
  }
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 45px 12px;
    top: 10px;
    top: -40px;
  }
  @media screen and (min-width: 1280px) {
    grid-template-columns: repeat(4, 1fr);
    gap: 50px 55px;
    top: -40px;
  }
}
.bad-request {
  background-image: url('./../images/oops-cut.png');
  background-repeat: no-repeat;
  background-size: cover;
  // background-position: -50px;
  position: relative;
  height: 230px;
  background-position: 10px;
  @media screen and (min-width: 480px) {
    height: 250px;
    background-position: 50px;
  }
  @media screen and (min-width: 768px) {
    height: 300px;
    background-position: 140px;
  }
  @media screen and (min-width: 1280px) {
    height: 400px;
    background-position: 200px;
  }
}
.return-btn {
  padding: 8px 7px;
  border: 2px solid var(--place-dates-pages-color);
  border-radius: 50px;
  background-color: var(--return-btn-color);
  position: absolute;
  color: var(--return-btn-text-color);
  top: 0;
  right: 43px;
  width: 110px;
  font-size: 6px;
  line-height: 1.25;
  transition: 0.8s;
  text-align: center;
  @media screen and (min-width: 480px) {
    right: 90px;
    top: 0;
    padding: 8px 8px;
    width: 175px;
    font-size: 7px;
    line-height: 1.25;
    width: 127px;
  }
  @media screen and (min-width: 768px) {
    right: 163px;
    top: 10px;
    padding: 10px 8px;
    width: 175px;
    font-size: 8px;
    line-height: 1.25;
    width: 140px;
  }
  @media screen and (min-width: 1280px) {
    top: 10px;
    right: 370px;
    padding: 12px 8px;
    width: 175px;
    width: 160px;
    text-align: center;
    font-size: 10px;
  }
}
.return-btn:hover {
  background-color: var(--headers-nameEvent-hoverPages-hoverLocation-color);
}
